# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Raw CUAD dataset
data/CUADv1.json
data/test.json
data/train_separate_questions.json

# Generated processed datasets
data/processed/

# Model artifacts
models/
checkpoints/
outputs/